.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 8px;
  min-width: 300px;
  max-width: 500px;
}

.login-field {
  margin: 8px;
}

.login-button {
  margin: 8px;
}

.login-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #f5f5f5;
}
